<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
.options {
     padding: 20px;
     margin-top: 20px;
     background-color: rgba(191, 191, 191, 0.15);
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}
</style>
<head>
    <title>Registro de boletas</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.softblue" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.softblue.css" />
    <script src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>

    <!-- Files anexados -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/boleta_admin.js') }}"></script>
</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div id="gridContainer"></div>
        <div class="options">
            <div class="caption">Opciones</div>
            <div class="option">
                <div id="autoExpand"></div>
            </div>
        </div>
    </div>
</body>
</html>
